h1 
{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: normal;
}
/* ensure the navbar ignores body padding/margins */
.w3-top
{
    position: fixed; /* stick the navbar to the top */
    top: 0;
    left: 0;
    width: 100%; /* stretch across the screen */
    z-index: 1000; /* keep it above other content */
}
thead, td 
{
    border-style: inset;
    border-color: #000000;
}
p
{
    text-align: center;
}
input
{
    width: 65px;
    background-color: white;
}
.form-container 
{
    margin: auto;
    text-align: left; /* preserve left alignment of text */
    border: 10px solid transparent; 
    max-width: 300px;
    border-radius: 2px; /* rounded corners */
    background: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* shadow */
    justify-content: center;
}
#employeeName, #income, #tax 
{
    width: 165px;  
}
.threebuttons
{
    text-align: center;
}
body
{
    font-size: 100%;
    background-color: #d2ffea;
    font-family: "Lato", sans-serif;
    border: 5px solid transparent; /* invisible border */
    box-sizing: border-box; /* ensures padding/margin are within the viewport size */
}
table 
{
    background-color: whitesmoke;
    margin-left: auto; margin-right: auto;
}
